In [14]:
import pandas as pd

In [15]:
import numpy as np

In [79]:

euro12 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv', sep=',',)

In [80]:
euro12.head()

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19

In [24]:
euro12.Goals

Team
Croatia                 4
Czech Republic          4
Denmark                 4
England                 5
France                  3
Germany                10
Greece                  5
Italy                   6
Netherlands             2
Poland                  2
Portugal                6
Republic of Ireland     1
Russia                  5
Spain                  12
Sweden                  5
Ukraine                 2
Name: Goals, dtype: int64

In [26]:
euro12.Goals.dtype

dtype('int64')

In [27]:
euro12.shape

(16, 34)

In [28]:
euro12.columns

Index(['Goals', 'Shots on target', 'Shots off target', 'Shooting Accuracy',
       '% Goals-to-shots', 'Total shots (inc. Blocked)', 'Hit Woodwork',
       'Penalty goals', 'Penalties not scored', 'Headed goals', 'Passes',
       'Passes completed', 'Passing Accuracy', 'Touches', 'Crosses',
       'Dribbles', 'Corners Taken', 'Tackles', 'Clearances', 'Interceptions',
       'Clearances off line', 'Clean Sheets', 'Blocks', 'Goals conceded',
       'Saves made', 'Saves-to-shots ratio', 'Fouls Won', 'Fouls Conceded',
       'Offsides', 'Yellow Cards', 'Red Cards', 'Subs on', 'Subs off',
       'Players Used'],
      dtype='object')

In [36]:
euro12.columns

TypeError: 'Index' object is not callable

In [38]:
euro12.shape[0]

16

In [40]:
euro12.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16 entries, Croatia to Ukraine
Data columns (total 34 columns):
Goals                         16 non-null int64
Shots on target               16 non-null int64
Shots off target              16 non-null int64
Shooting Accuracy             16 non-null object
% Goals-to-shots              16 non-null object
Total shots (inc. Blocked)    16 non-null int64
Hit Woodwork                  16 non-null int64
Penalty goals                 16 non-null int64
Penalties not scored          16 non-null int64
Headed goals                  16 non-null int64
Passes                        16 non-null int64
Passes completed              16 non-null int64
Passing Accuracy              16 non-null object
Touches                       16 non-null int64
Crosses                       16 non-null int64
Dribbles                      16 non-null int64
Corners Taken                 16 non-null int64
Tackles                       16 non-null int64
Clearances                    16 non-null int64
Interceptions                 16 non-null int64
Clearances off line           15 non-null float64
Clean Sheets                  16 non-null int64
Blocks                        16 non-null int64
Goals conceded                16 non-null int64
Saves made                    16 non-null int64
Saves-to-shots ratio          16 non-null object
Fouls Won                     16 non-null int64
Fouls Conceded                16 non-null int64
Offsides                      16 non-null int64
Yellow Cards                  16 non-null int64
Red Cards                     16 non-null int64
Subs on                       16 non-null int64
Subs off                      16 non-null int64
Players Used                  16 non-null int64
dtypes: float64(1), int64(29), object(4)
memory usage: 5.0+ KB

In [47]:
cards=euro12[['Yellow Cards','Red Cards']]

In [48]:
cards

                     Yellow Cards  Red Cards
Team
Croatia                         9          0
Czech Republic                  7          0
Denmark                         4          0
England                         5          0
France                          6          0
Germany                         4          0
Greece                          9          1
Italy                          16          0
Netherlands                     5          0
Poland                          7          1
Portugal                       12          0
Republic of Ireland             6          1
Russia                          6          0
Spain                          11          0
Sweden                          7          0
Ukraine                         5          0

In [63]:
cards.sort_values(['Yellow Cards','Red Cards'])

                     Yellow Cards  Red Cards
Team
Denmark                         4          0
Germany                         4          0
England                         5          0
Netherlands                     5          0
Ukraine                         5          0
France                          6          0
Russia                          6          0
Republic of Ireland             6          1
Czech Republic                  7          0
Sweden                          7          0
Poland                          7          1
Croatia                         9          0
Greece                          9          1
Spain                          11          0
Portugal                       12          0
Italy                          16          0

In [62]:
[]

[]

In [64]:
cards['Yellow Cards'].mean()

7.4375

In [65]:
round(cards['Yellow Cards'].mean())

7.0

In [75]:
euro12[euro12.(Hit Woodwork)>5]

SyntaxError: invalid syntax (<ipython-input-75-406c4e125047>, line 1)

In [83]:
euro12[euro12.Team.str.startswith('G')]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20